*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary: #211c19;
  --secondary: #e8e8e8;
}
html {
  font-size: calc(100vw / 1920 * 10);
}
body {
  font-family: "sans-serif";
  background-color: var(--primary);
  color: var(--secondary);
}
::-webkit-scrollbar {
  display: none;
}

h1 {
padding-top: 10rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a,
span,
li {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3.2rem;
  z-index: 50;
  mix-blend-mode: difference;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav_extra {
  opacity: 0.5;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
}
.section_wrapper {
  display: flex;
  gap: 3.2rem;
}

.section_col:nth-child(1) {
  position: relative;
  width: calc(100vw / 2 - 3.2rem);
}
.section_col_container {
  position: relative;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.section_col_container_image {
  width: inherit;
  height: 100vh;
}

.section_col:nth-child(2) {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  padding: 1.6rem;
  padding-left: 16rem;
}
.section_col:nth-child(2) .section_col_container {
  gap: 16rem;
}
.section_col_description {
  display: flex;
  flex-wrap: wrap;
  gap: 6.4rem;
  width: 48rem;
}
.section_col_info {
  width: 20rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section_col_info::before,
.section_col_role::before,
.section_col_awards::before {
  font-size: 1.6rem;
  display: block;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section_col_info::before {
  content: "Info";
  padding-bottom: 1.6rem;
}
.section_col_role::before {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  content: "Role";
}
.section_col_awards::before {
  content: "Awards";
}

.section_col_link {
  position: absolute;
  bottom: 3.2rem;
  cursor: pointer;
  margin-left: 2.6rem;
}
.section_col_scroll {
  position: absolute;
  bottom: 3.2rem;
  cursor: pointer;
  margin-left: 2.6rem;
  margin-top: 1em;
}

.--clone {
  height: 100vh;
  margin-top: 3.2rem;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024 * 10);
  }

  h1 {
    font-size: 4rem;
    padding-top: 10rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  .section_wrapper {
    flex-direction: column;
    gap: 1.6rem;
  }

  .section_col {
    width: 100%;
    padding: 1.6rem;
  }

  .section_col_container {
    gap: 1.6rem;
    flex-direction: column;
  }
  .section_col_container1 {
    gap: 1.6rem;
    flex-direction: row;
  }

  .section_col_description {
    gap: 1.6rem;
    order: 1;
  }

  .section_col_role {
    order: 1;
  }

  .section_col_container_image {
    order: 2;
    width: 100%;
    height: auto;
  }
}
